PORT=5010
MONGODB_URI=mongodb://localhost:27017/web_pacific
JWT_SECRET=web_pacific_secret_2024
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=admin@japanesefaculty.edu.vn
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_password
